<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/read.css">
</head>
<body>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        <h1 class="news-title"></h1>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>방송국명</th>
                    <td class="news-broadcasting"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td class="news-writer"></td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td class="news-create-date"></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><pre class="news-content"></pre></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>첨부파일</th>
                    <td class="news-files"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script src="/static/js/read.js"></script>
</body>
</html>